# Environment Variables Template
VITE_API_URL=https://bus-server-fx1f.onrender.com
VITE_MAP_TILE_LAYER_URL=https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png
VITE_GEOCODING_API_URL=https://nominatim.openstreetmap.org/reverse
VITE_DEFAULT_AVATAR_URL=https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?auto=format&fit=crop&q=80&w=250
